<section class="profile-container">
      <div class="title-name pet-name">{{randomPets.petfinder.pet.name.$t}}</div>
            <div class="photo-container" ng-click="reloadRoute()">
                  <img class="image-size" src='{{randomPets.petfinder.pet.media.photos.photo[2].$t}}' />
            </div>
            <div class="position"> 
            <div class="text">
                  <br>
                  <span id=title>Age:</span> {{randomPets.petfinder.pet.age.$t}}
                  <br>
                  <span id=title>Location:</span>  {{randomPets.petfinder.pet.contact.city.$t}}, {{randomPets.petfinder.pet.contact.state.$t}}
                  <br>
            </div>
            </div> 
            <div class="learn-more">
                   <!-- <div ng-click="scrollTo('more')"><a href="more" id="anchor1">Adopt {{randomPets.petfinder.pet.name.$t}}!</a></div> -->
                   <div class="text adopt-text">Learn More</div>
                   <a href="#more" id="anchor1"><div class="button-size myButton"></div></a>                  
            </div>
</section>       

    

<div id="more">
      <div class="tint">
       <div class="styling text position2">
            <h2 id="title">Adopt {{randomPets.petfinder.pet.name.$t}}</h2>
            <br>
            <span id="title">call:</span> {{randomPets.petfinder.pet.contact.phone.$t}}</h3>
            <br>
            <span id="title">email:</span> {{randomPets.petfinder.pet.contact.email.$t}}</h3>
            <br>
            <span id="title">pet ID:</span> {{randomPets.petfinder.pet.id.$t}}</h3>
        </div>
        <a href=.profile-container id="anchor2"><div class="button-size bottom-button position3"></div></a>
      </div>
      
</div>

<footer-directive></footer-directive> 

