<section class="test">
<section class="profile-container">
      <div class="title-name pet-name">{{randomPets.petfinder.pet.name.$t}}
      </div>
            <img class="photo" src='{{randomPets.petfinder.pet.media.photos.photo[2].$t}}' />
            <p>
            Age: {{randomPets.petfinder.pet.age.$t}}
            <p>
            Location: {{randomPets.petfinder.pet.contact.city.$t}}, {{randomPets.petfinder.pet.contact.state.$t}}
            <p>
                  <div class="button-position">
                         <button class="button" ui-sref="shelterView({id: randomPets.petfinder.pet.shelterId.$t})">adopt me</button> 
                        <button class="button" ui-sref="petView">get random pet</button> 
                  </div>
            <p>
            <button id="top" ng-click="scrollTo('more')"><a>TEST</a></button>  
 </section>           




<section id="more">

            <h2>Description:</h2> <h3>{{randomPets.petfinder.pet.description.$t}}</h3>
            <br>
            <h2>Adopt me!</h2>
            <h3>call: {{randomPets.petfinder.pet.contact.phone.$t}}</h3>
            <h3>email: {{randomPets.petfinder.pet.contact.email.$t}}</h3>
            <h3>pet ID: {{randomPets.petfinder.pet.id.$t}}</h3>
</section>
            
</section>

   <footer-directive></footer-directive> 
