/*font-family: 'Bevan', cursive;
font-family: 'Bitter', serif;
font-family: 'Hind', sans-serif;*/

.title {
  font-size:65px;
  font-family: 'Bevan', serif;
  color: white;
  margin-bottom: 20px;
}

.tag-line {
  font-size: 30px;
  font-family: 'Hind', serif;
  color: white;
}




.flex-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}


.button {
  width: 250px;
  height:40px;
  font-family: 'Hind', sans-serif;
  font-size: 20px;
  color: #ffffff;
  border-radius: 70px;
  border-color: #ffffff;
  background: #ff8949;
  margin-top: 20px; 
  border: none;
}


.loader{  
    position:relative;
    margin:0 auto;
    clear:left;
    height:auto;
    z-index: 0;
    text-align:center;/* Add This*/
}​





