.vertical-container {
  height: 90vh;
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-direction: column; /* works with row or column */
   flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  
}


.bg-home {
  width: 100%;
  height:100vh;
  background-image: url("../img/bg-home.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tint-home {
z-index: 1;
height: 100vh;
width: 100%;
position: absolute;
top: 0px;
left: 0px;
background: linear-gradient(to bottom, rgba(0, 206, 162, 0.7)  0%, rgba(0, 90, 157, 0.7) 100%);   
}

