
.profile-container {
  height: 100vh;
  width: 100%;
  background: #2CB2A4;  

}

.tint {
z-index: 0;
height: 100vh;
width: 100%;
background: linear-gradient(to bottom, rgba(0, 206, 162, 0.7)  0%, rgba(0, 90, 157, 0.7) 100%);   
}

#more {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  margin-bottom: -30px;
  background-image: url("../img/bg-shelter.jpeg");  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title-name {
  font-size: 40px;
  font-family: 'Bevan', serif;
  color: white;
  letter-spacing: 2px;
}

/*pet-name is the container that holds title-name*/
.pet-name {  
    height: 115px;
    padding-bottom: 10px;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
    
}​

/*BUGGY. Must use two photo classes below for css to show. why? I dunno*/
.photo-container{
  background: yellow;
}
.photo-container{
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  /*animation: fadein 5s;*/
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.image-size {
  max-height: 100%;
  max-width: 100%;
  border-radius: 20px;
}

.button {
  width: 160px;
  height:40px;
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  border: none;
  color: #ffffff;
  border-radius: 70px;
  background: #ff8949;
  margin-top: 20px; 
  
}

.button-position {
  margin: 10px auto;
  display: -webkit-box;   
  display: -moz-box;  
  display: -ms-flexbox; 
  display: -webkit-flex; 
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-width: 90%;

}
.position {
  max-width: 350px;
  margin: auto;
  padding-left: 20px;
}

.text {
  font-size: 25px;
  font-family: 'Hind', serif;
  color: white;
  display: inline;
}

#title {
  font-size: 25px;
  font-family: 'Bevan', serif;
  color: #ffff;
  letter-spacing: 1px;
}